<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		{% block stylesheets %}

			{% block page_styles %}{% endblock %}
		{% endblock %}


		{% block javascripts %}
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
		{% endblock %}

	</head>
	<body>
		<header class="gg-navbar">
			<div class="gg-container">
				<a class="gg-brand" href="">
					<img src="{{ asset('images/Logogreen.png') }}" alt="Green Goodies" class="gg-logo">
				</a>

				<nav class="gg-nav">
					<a href="">Nos produits</a>
					<a href="">Mon panier</a>

					{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
						<a href="">Mon compte</a>
						<a href="{{ path('app_logout') }}">Déconnexion</a>
					{% else %}
						<a href="{{ path('app_login') }}">Connexion</a>
					{% endif %}
				</nav>
			</div>
		</header>

		<main>
			{% block body %}{% endblock %}
		</main>
	</body>
</html>
